button {
  border: 2px solid grey;
  padding: 5px;
}
#game-page {
  grid-template-columns: 0.5fr 1fr;
  display: grid;
  padding: 10%;
}
.players {
  margin-top: 30px;
}
.player-name,
.players .players-readiness {
  display: inline-block;
}
.players-readiness {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.is-ready,
.player-ready {
  background-color: green;
}
.is-not-ready {
  background-color: red;
}
